*{
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 20px;
}
.header{
    width:65%;
    display: flex;
    justify-content: space-between;
}
#table{
    width:65%;
    padding-top:50px;
    margin-top: 30px;
    border-spacing: 0 15px;
}
.imager{
    width: 78%;
    height: 57px;
}
th{
    text-align:left;
}
.imag{
    display: block;
}
body{
    background-color: #1A1A1C;
    color:white
}
.btn{
    background-color: #1A1A1C;
    color: white;
    border:solid white 1px;
    padding: 15px;
}
#fgh{
    background-color:#1A1A1C;
    color: white;
    border: solid white 1px;
    padding-left: 10px;
}

::placeholder{
    color:white;
}
table,td {
    border-bottom: 1px solid white;
    border-collapse: collapse;
}
h1{
    text-align: center;
}