*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #111111;
    color:white;
    font-family: 'Inter', sans-serif;
}
.form{
    display: flex;
    flex-wrap: wrap;
    column-gap: 72px;
    row-gap: 36px;
    padding-left: 35px;
}
.form input{
    width: 28%;
    height: 67px;
    background-color: #111111;
    color:white;
    border:1px solid white;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.50);
font-size: 24px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: normal;
}
h1{
 color: #FFF;
font-size: 48px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#btn{
width: 35.5%;
height: 67px;
background: #FFF;
color: #000;
font-size: 24px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 36px;
margin-left: 36px;
}
#search{
border: 1px solid #FFF;
height: 67px;
background-color: #111111;
width: 96%;
color: rgba(255, 255, 255, 0.50);
font-size: 24px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 2%;
background-image: none;
padding-left: 10px;
}
#table{
width: 96%;
background-color: #111;
border:1px solid #FFF;
height: 1%;
border-collapse: collapse;
}
.tablecont{
    display: flex;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 30px;
}

.line1,.line2,.line3,.line4,.line5{
width: 1px;
min-height: 512px;
background:white;
}
td{
    height: 50px;
    padding-left: 1%;
    border-right: 1px solid white;
}
#line1{
    position:relative;
    left: 9%;
}
#line2{
    position: relative;
    left: 39.5%;
}
#line3{
    position: relative;
    left: 53.82%;
}
#line4{
    position: relative;
    left: 65.75%;
}
#line5{
    position: relative;
    left: 78.16%;
}
.head{
    border-right: 1px solid white;
    height: 0px;
    border-bottom: 1px solid white;
}
tr{
    height: 50px;
}
.degreeflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 0;
    padding-right: 10px;
    padding-left: 3%;
}
.imger{
    display: flex;
    gap: 10px;
}
#search,#email{
    background-image: none !important;
}
@media screen and (min-width:370px) and (max-width:600px){
    .tablecont{
        justify-content: start;
        padding-left: 2%;
    }
    td{
        padding-right: 10px;
    }
    .form input{
        font-size: 20px;
    }
    #search{
        font-size: 20px;
    }
}