@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
     --color-green : rgb(12, 131, 31);  
    --color-black: rgb(0,0,0);
    --color-white: rgb(255,255,255);
    --color-gray: rgb(130,130,130);
    --color-lightest-green: rgb(247,255,249);
    --color-gray2:rgb(248, 248, 248);
    --font-family : 'Roboto';
    --fw-700: 700;
    --fw-800 : 800;
    --fw-600: 600;
    --fw-500:500;
    --fw-400: 400;

}
