*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color:white;
}
html{
    background-color:rgb(15,15,15);
    overflow-x: hidden;
}
body{
    width:100vw;
}
.navbar{
    display: flex;
    height: 56px;
    position: fixed;
    left:0px;
    right:0px;
    background-color:rgb(15,15,15);
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
    z-index: 1;
}
.left{
    display: flex;
    align-items: center;
}
.middle{
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    align-items: center;
    gap: 18px;
    padding-right: 16px;
}
.middle{
    width:728px;
}
.input{
    height: 40px;
    position: relative;
    flex: 1;
    flex-basis: 1e-9px;
}

input{
    width: 76%;
    position: relative;
    bottom: 15.5px;
    height: 40px;
    left: 5px;
    border-radius: 40px 0 0 40px;
    border-right: none;
    border:1px solid hsl(0, 0%, 18.82%);
    background-color:hsl(0, 0%, 7%);
    color:hsla(0, 100%, 100%, 0.88);
    padding: 0px 4px 0px 16px;
}
input:focus{
    border:1px solid #1c62b9;
}
.maincontainer{
    position: relative;
    top: 55px;
    display:flex;
    padding-left: 9%;
    padding-top: 2.5%;
}
iframe{
    border: none;
}
.impressions{
display: flex;
align-items: center;
gap: 25px;
}
.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.namek{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.nameandsubs{
    display: flex;
    justify-content: space-between;
}
.bottom{
    display: flex;
    gap: 10px;
}
.descdata{
    width: 100%;
}
.commentstat{
    display: flex;
}
#chnlav{
    width: 45px;
    border-radius: 50%;
}
.lefthalf{
    max-width: 1000px;
}
.likecontainer{
    display: flex;
    align-items: center;
}
.top{
    padding-top: 35px;
    padding-bottom: 10px;
    border-bottom: solid 0.5px white;
}
.title{
    padding-bottom: 7px;
}
.bottom{
    padding-top: 23px;
    border-bottom: solid 1px white;
    padding-bottom: 20px;
}
.desc{
    padding-top: 35px;
}
.commentandsort{
    padding-top: 35px;
}
.commentstat{
    gap: 36px;
    padding-bottom: 25px;
    align-items: center;
}
.sortcont{
    display: flex;
    align-items: center;
}
#commentbar{
    border:solid 0.5px !important;
    width: 95.5%;
}
.c3{
    display: flex;
    align-items: center;
    gap: 15px;
}
.reply{
    display: flex;
    gap: 24px;
}
.c3like{
    display: flex;
    align-items: center;
}
.c1{
    padding-bottom: 15px;
}
.c2{
    padding-bottom: 15px;
}
.reply{
    padding-bottom: 24px;
}
.downicon{
    width: 8%;
}
.repliesboolean{
    display: flex;
    align-items: start;
    color:rgb(60,147,187);
    flex-direction: column;
}
.downiconcont{
    display: flex;
    align-items: center;
}