*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color:white;
}
html{
    background-color:rgb(15,15,15);
    overflow-x: hidden;
}
body{
    width:100vw;
}
.navbar{
    display: flex;
    height: 56px;
    position: fixed;
    left:0px;
    right:0px;
    background-color:rgb(15,15,15);
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
    z-index: 1;
}
.left{
    display: flex;
    align-items: center;
}
.middle{
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    align-items: center;
    gap: 18px;
    padding-right: 16px;
}
.middle{
    width:728px;
}
.input{
    height: 40px;
    position: relative;
    flex: 1;
    flex-basis: 1e-9px;
}

input{
    width: 76%;
    position: relative;
    bottom: 15.5px;
    height: 40px;
    left: 5px;
    border-radius: 40px 0 0 40px;
    border-right: none;
    border:1px solid hsl(0, 0%, 18.82%);
    background-color:hsl(0, 0%, 7%);
    color:hsla(0, 100%, 100%, 0.88);
    padding: 0px 4px 0px 16px;
}
input:focus{
    border:1px solid #1c62b9;
}
.main{
    width:100%;
    background-color: rgb(15,15,15);
    display: flex;
    flex-flow: wrap;
    position: relative;
    top: 52px;
    height: 100%;
    float:right;
    row-gap: 168px;
    padding-top: 10px;
    column-gap: 3.5%;
}
.b1{
display: flex;
gap:10px;
}

.video_card{
    width:360px;
    height: 202px;
}
.thumbnail{
    width: 100%;
}
.sidebar{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 56px;
    bottom:0px;
    overflow-y: hidden;
}
.sidebar:hover{
    overflow-y: scroll;
}
.sidecontainer{
    width: 100%;
    background-color:rgb(15,15,15);
}
.maincontainer{
    display: flex;
    
}
.chunk{
    display: flex;
    flex-direction: column;
    width: 87%;
    position: relative;
    left: 242px;
}
.toptags{
    position: relative;
    top: 56px;
}
.length{
    position: absolute;
    top: 276px;
    left: 316px;
    border-radius: 12px;
    font-size: 12px;
}
.bottom{
    display: flex;
    gap:12px;
    margin-top: -15px;
}
.bottom img{
    width: 13%;
    height: 45px;
}
.descdetails{
    color:rgb(150,150,150);
    font-size:0.95em;
}
.top img{
    width: 360px;
    height: 215px;
}

.length {
    align-self: flex-end;
    position: relative;
    top: -38px;
    right: 10px;
    border-radius: 12px;
}


.sidebar::-webkit-scrollbar-track
{
	background-color: #FFFFFF;
    border-radius: 5px;
}

.sidebar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
    border-radius: 5px;
}

.sidebar::-webkit-scrollbar-thumb
{
	background-color: #c9c8c8;
    border-radius: 5px;
}
.sidebar::-webkit-scrollbar-thumb:hover
{
	background-color: #b3b2b2;
    border-radius: 5px;
}