* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    z-index: 100;
    top: 0;
  
    background-color: black;
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 1rem;
  }
  
  nav .brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav .nav-items a {
    margin: 0 1rem;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .container{
    display: flex;
    flex-direction:column;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
  }
  form{
    display: flex;
    flex-direction: column;
  }
  .message{
    color: #000;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 1.5%;
  }
  input{
    color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 22px;
padding-bottom: 22px;
padding-left: 29.3px;
margin-bottom: 1.5%;
border:solid 1px black;
  }
  #btn{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: #000;
width: 10%;
    padding: 0.5%;
  }
  .dynamic{
    margin-top: 1%;
    font-size: 18px;
    color:purple;
    font-family: Inter;
  }
  @media screen and (min-width:320px) and (max-width:650px) {
    .nav-items{
      display: flex;
      font-size: 11px;
    }
    .brand a {
      font-size: 15px;
    }
    input{
      margin-bottom: 3.5%;
    }
    #btn{
      width: 30%;
    }
  }