/* Write styles here */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    z-index: 100;
    top: 0;
  
    background-color: black;
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 1rem;
  }
  
  nav .brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav .nav-items a {
    margin: 0 1rem;
  }
  a {
    color: white;
    text-decoration: none;
  }
  #heading{
color: #000;
font-family:Inter;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  #desc{
    color: #000;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  #login{
    background-color: #000;
    color:white;
    width: 6%;
    padding: 0.5%;
    color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

  #signup{
    background-color: #000;
    color:white;
    width: 6%;
    padding: 0.5%;
    color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.container{
    display: flex;
    flex-direction: column;
}
.top > p{
    padding-bottom: 2%;
}
.top{
    margin-left: 2%;
    margin-top: 1%;
}
.top > button{
    margin-right:1%;
}
.bottom{
    align-self: end;
}
#login:hover{
  background-color: #3e8e41;
  color: white;
}
a:hover{
  background-color: #3e8e41;
  color: white;
  border-radius: 10px;
}
#signup:hover{
  background-color: #3e8e41;
  color: white;
}