*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../dark-texture-watercolor.jpg);
}
.container{
    display: flex;
    flex-direction: column;
    width: 25%;
    border-radius: 4px;
background: #FFF;
box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
padding: 2%;
}
img{
    width:40%;
}
.profileimg{
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
}
.name,.email,.token,.pass{
    align-self: center;
    color: #333;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.message{
    color: #333;
text-align: center;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#logout{
    border-radius: 6px;
background: linear-gradient(180deg, #625BF7 0%, #463EEA 100%);
width:100%;
height:35px;
margin-bottom: 5%;
border: none;
color:white;
}
.container >div,button{
    margin-bottom: 5%;
}
.dynamic{
    align-self: center;
    color: #625BF7;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
@media only screen and (min-width: 320px) and (max-width: 1000px) {
    .container{
        width: 70%;
        padding: 5%;
    }
    .dynamic{
        font-size: 13px;
    }
}

    @media only screen and (min-width: 650px) and (max-width: 1000px) {
        .container{
            width: 41%;
            padding: 5%;
        }
    }